{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Main View</title>
</head>
<body>
    <h1>Welcome to my web service</h1>
    <h2>Тема проекта: Магазин скинов для DOTA 2</h2>
    <h3>Цель проекта: защита диплома и возможно запуск приложения в продакшн для заработка, но это не точно.</h3>
    <h3>Проект построен на REST архитектуре, запущен на сервисе Google Cloud Platform. <br>
        При написании проекта были использованы технологии:
        <ul>
            <li>Django</li>
            <li>Django Rest Framework</li>            
            <li>SimpleJWT</li>
            <li>Docker</li>
            <li>Docker-Compose</li>
            <li>Nginx</li>
            <li>PostgreSQL</li>
            <li>Celery</li>
            <li>Redis</li>
        </ul>
    </h3>
    <h3>Проблемы с которыми я столкнулся:
        <ul>
            <li>Система оплаты - Внезапно, чтобы оно работало нужно использовать протокол HTTPS для которого требуется:
                <ul>
                    <li>ssl-сертификат</li>
                    <li>доменное имя - которое гугл мне не дает поскольку квота достигнута хотя я ни разу не использовал его</li>
                </ul>
            </li>
        </ul>
    </h3>
    <h3>
        Краткое описание возможностей:
        <ul>
            <li>можно покупать скины, в общем-то для этого сие мероприятие и делалось</li>
            <li>можно оставлять отзывы на скины, при покупке надо обязательно поставить оценку от 1 до 5 баллов, 
                рейтинг скина будет пересчитываться с каждым новым отзывом</li>
            <li>покупка происходит только с виртуального кошелька пополнить который можно было бы если бы я получил домен от гугла...</li>
            <li>так же можно добавлять других пользователей в список друзей</li>
        </ul>
        Документация <a href="{% static 'readme.odt' %}" download>тут</a>
    </h3>
</body>
</html>